<% action = form_type == "Sign Up" ? users_url : session_url %>
<% button = form_type == "Sign Up" ? "Sign Up" : "Sign In" %>

<form class="userForm" action="<%= action %>" method="POST">
  <%= auth_token %>
  <label for="username">Username: </label>
  <input type="text" name="user[username]" value="<%= user.username %>" id="username">
  <br/>
  <label for="password">Password: </label>
  <input type="password" name="user[password]" value="<%= user.password %>" id="password">
  <br/>

  <input type="submit" class="submitButton" value="<%= button %>">


</form>
